body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: "Gochi Hand";
   font-weight: 400;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
.visibility-hidden
{
   visibility: hidden;
}
#wb_LayoutGrid5
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #5595D2;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid5
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
}
#LayoutGrid5 > .col-1, #LayoutGrid5 > .col-2, #LayoutGrid5 > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid5 > .col-1, #LayoutGrid5 > .col-2, #LayoutGrid5 > .col-3
{
   flex: 0 0 auto;
}
#LayoutGrid5 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 25%;
   max-width: 25%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: center;
   text-align: center;
}
#LayoutGrid5 > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 33.33333333%;
   max-width: 33.33333333%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: flex-end;
   text-align: right;
}
#LayoutGrid5 > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 41.66666667%;
   max-width: 41.66666667%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: flex-start;
   text-align: left;
}
@media (max-width: 480px)
{
#LayoutGrid5 > .col-1, #LayoutGrid5 > .col-2, #LayoutGrid5 > .col-3
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_LayoutGrid6
{
   clear: both;
   position: -webkit-sticky;
   position: sticky;
   top: 0;
   z-index: 7776;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #4E86AB;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid6
{
   box-sizing: border-box;
   padding: 10px 15px 10px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
}
#LayoutGrid6 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid6 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid6 > .row > .col-1
{
   float: left;
}
#LayoutGrid6 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#LayoutGrid6:before,
#LayoutGrid6:after,
#LayoutGrid6 .row:before,
#LayoutGrid6 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid6:after,
#LayoutGrid6 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid6 > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#wb_intro
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#intro
{
   box-sizing: border-box;
   padding: 0 25px 0 25px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1170px;
}
#intro > .row
{
   margin-right: -25px;
   margin-left: -25px;
}
#intro > .row > .col-1, #intro > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 25px;
   padding-left: 25px;
   position: relative;
}
#intro > .row > .col-1, #intro > .row > .col-2
{
   float: left;
}
#intro > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 50%;
   text-align: center;
}
#intro > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 50%;
   text-align: left;
}
#intro:before,
#intro:after,
#intro .row:before,
#intro .row:after
{
   display: table;
   content: " ";
}
#intro:after,
#intro .row:after
{
   clear: both;
}
@media (max-width: 768px)
{
#intro > .row > .col-1, #intro > .row > .col-2
{
   float: none;
   width: 100% !important;
}
}
#wb_services1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #FDCDA9;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   margin: -1px 0 0 0 ;
   margin-right: auto;
   margin-left: auto;
   max-width: 1170px;
}
#services1
{
   box-sizing: border-box;
   padding: 30px 20px 0 20px;
   margin-right: auto;
   margin-left: auto;
}
#services1 > .row
{
   margin-right: -20px;
   margin-left: -20px;
}
#services1 > .row > .col-1, #services1 > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 20px;
   padding-left: 20px;
   position: relative;
}
#services1 > .row > .col-1, #services1 > .row > .col-2
{
   float: left;
}
#services1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 50%;
   text-align: left;
}
#services1 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 50%;
   text-align: left;
}
#services1:before,
#services1:after,
#services1 .row:before,
#services1 .row:after
{
   display: table;
   content: " ";
}
#services1:after,
#services1 .row:after
{
   clear: both;
}
@media (max-width: 768px)
{
#services1 > .row > .col-1, #services1 > .row > .col-2
{
   float: none;
   width: 100% !important;
}
}
#upStickyLayer
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#wb_upIcon
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #3E3E3E;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 4px 4px 4px 4px;
   vertical-align: top;
}
#wb_upIcon a
{
   text-decoration: none;
}
#wb_upIcon a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#upIcon
{
   height: 24px;
   width: 24px;
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
}
#upIcon i
{
   color: #000000;
   display: inline-block;
   font-size: 24px;
   line-height: 24px;
   vertical-align: middle;
}
#wb_upIcon:hover #upIcon i
{
   color: #C0C0C0;
}
#wb_servicesCard1
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: right;
}
#servicesCard1-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#servicesCard1-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 15px 15px 15px 15px;
   border: 0px solid #000000;
   border-radius: 0px;
   max-width: 88px;
   margin-left: auto;
   margin-right: 0;
   width: 100%;
   height: 88px;
}
#servicesCard1-card-item1
{
   box-sizing: border-box;
   margin: -70px 30px 10px 90px;
   padding: 0;
   color: #000000;
   font-family: "Gochi Hand";
   font-weight: normal;
   font-style: normal;
   font-size: 21px;
   text-align: center;
}
#servicesCard1-card-item2
{
   box-sizing: border-box;
   margin: 0 30px 30px 90px;
   padding: 0;
   color: #000000;
   font-family: "Gochi Hand";
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   line-height: 24px;
   text-align: center;
}
#wb_servicesCard2
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: right;
}
#servicesCard2-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#servicesCard2-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 15px 15px 15px 15px;
   border: 0px solid #000000;
   border-radius: 0px;
   max-width: 88px;
   margin-left: auto;
   margin-right: 0;
   width: 100%;
   height: 88px;
}
#servicesCard2-card-item1
{
   box-sizing: border-box;
   margin: -70px 30px 10px 90px;
   padding: 0;
   color: #000000;
   font-family: "Gochi Hand";
   font-weight: normal;
   font-style: normal;
   font-size: 21px;
   text-align: center;
}
#servicesCard2-card-item2
{
   box-sizing: border-box;
   margin: 0 30px 30px 90px;
   padding: 0;
   color: #000000;
   font-family: "Gochi Hand";
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   line-height: 24px;
   text-align: center;
}
#wb_servicesCard3
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: right;
}
#servicesCard3-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#servicesCard3-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 15px 15px 15px 15px;
   border: 0px solid #000000;
   border-radius: 0px;
   max-width: 88px;
   margin-left: auto;
   margin-right: 0;
   width: 100%;
   height: 88px;
}
#servicesCard3-card-item1
{
   box-sizing: border-box;
   margin: -70px 30px 10px 90px;
   padding: 0;
   color: #000000;
   font-family: "Gochi Hand";
   font-weight: normal;
   font-style: normal;
   font-size: 21px;
   text-align: center;
}
#servicesCard3-card-item2
{
   box-sizing: border-box;
   margin: 0 30px 30px 90px;
   padding: 0;
   color: #000000;
   font-family: "Gochi Hand";
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   line-height: 24px;
   text-align: center;
}
#wb_servicesCard4
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: right;
}
#servicesCard4-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#servicesCard4-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 15px 15px 15px 15px;
   border: 0px solid #000000;
   border-radius: 0px;
   max-width: 90px;
   margin-left: auto;
   margin-right: 0;
   width: 100%;
   height: 90px;
}
#servicesCard4-card-item1
{
   box-sizing: border-box;
   margin: -70px 30px 10px 90px;
   padding: 0;
   color: #000000;
   font-family: "Gochi Hand";
   font-weight: normal;
   font-style: normal;
   font-size: 21px;
   text-align: center;
}
#servicesCard4-card-item2
{
   box-sizing: border-box;
   margin: 0 30px 30px 90px;
   padding: 0;
   color: #000000;
   font-family: "Gochi Hand";
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   line-height: 24px;
   text-align: center;
}
#wb_servicesCard5
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: right;
}
#servicesCard5-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#servicesCard5-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 15px 15px 15px 15px;
   border: 0px solid #000000;
   border-radius: 0px;
   max-width: 88px;
   margin-left: auto;
   margin-right: 0;
   width: 100%;
   height: 88px;
}
#servicesCard5-card-item1
{
   box-sizing: border-box;
   margin: -70px 30px 10px 90px;
   padding: 0;
   color: #000000;
   font-family: "Gochi Hand";
   font-weight: normal;
   font-style: normal;
   font-size: 21px;
   text-align: center;
}
#servicesCard5-card-item2
{
   box-sizing: border-box;
   margin: 0 30px 30px 90px;
   padding: 0;
   color: #000000;
   font-family: "Gochi Hand";
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   text-decoration: underline;
   line-height: 24px;
   text-align: center;
}
#wb_servicesCard6
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: right;
}
#servicesCard6-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#servicesCard6-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 15px 15px 15px 15px;
   border: 0px solid #000000;
   border-radius: 0px;
   max-width: 88px;
   margin-left: auto;
   margin-right: 0;
   width: 100%;
   height: 88px;
}
#servicesCard6-card-item1
{
   box-sizing: border-box;
   margin: -70px 30px 10px 90px;
   padding: 0;
   color: #000000;
   font-family: "Gochi Hand";
   font-weight: normal;
   font-style: normal;
   font-size: 21px;
   text-align: center;
}
#servicesCard6-card-item2
{
   box-sizing: border-box;
   margin: 0 30px 30px 90px;
   padding: 0;
   color: #000000;
   font-family: "Gochi Hand";
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   line-height: 24px;
   text-align: center;
}
#SiteSearch1
{
   box-sizing: border-box;
   line-height: 24px;
   margin: 0;
   border: 2px solid #FFFFFF;
   border-radius: 4px;
   background-color: #5595D2;
   background-image: none;
   color: #FFFFFF;
   font-family: "Gochi Hand";
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   text-align: center;
   padding: 4px 4px 4px 4px;
}
#SiteSearch1:focus
{
   outline: 0;
}
#SiteSearch1::placeholder
{
   color: #FFFFFF;
   opacity: 1;
}
#SiteSearch1::-ms-input-placeholder
{
   color: #FFFFFF;
}
#wb_CssMenu1
{
   border: 0px solid #C0C0C0;
   border-radius: 0px;
   background-color: transparent;
   margin: 0;
   text-align: left;
   position: relative;
   z-index: 1111 !important;
}
#wb_CssMenu1 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
    font-size: 0;
}
#wb_CssMenu1 li
{
   display: inline-block;
   margin: 0;
   padding: 0px 0px 0px 0px;
   width: 20%;
}
#wb_CssMenu1 a
{
   display: block;
   color: #FFFFFF;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   font-family: "Gochi Hand";
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   text-transform: none;
   text-align: center;
   vertical-align: middle;
}
#wb_CssMenu1 > ul > li > a
{
   width: calc(100% - 4px);
   box-sizing: border-box;
   height: 28px;
   padding: 0 5px 0px 5px;
   line-height: 28px;
}
#wb_CssMenu1 li:hover a, #wb_CssMenu1 a:hover
{
   color: #FFFFFF;
   border: 0px solid #2E6DA4;
   background-color: transparent;
   background-image: none;
}
#wb_CssMenu1 li.firstmain
{
   padding-left: 0px;
}
#wb_CssMenu1 li.lastmain
{
   padding-right: 0px;
}
#wb_CssMenu1 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#CssMenu1 li i
{
   font-size: 16px;
   margin-right: 4px;
   width: 18px;
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #5596D2;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid1
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 25px 0 25px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
}
#LayoutGrid1 > .col-1, #LayoutGrid1 > .col-2, #LayoutGrid1 > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid1 > .col-1, #LayoutGrid1 > .col-2, #LayoutGrid1 > .col-3
{
   flex: 0 0 auto;
}
#LayoutGrid1 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 41.66666667%;
   max-width: 41.66666667%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-end;
   align-self: stretch;
   align-items: flex-end;
   justify-content: center;
   text-align: center;
}
#LayoutGrid1 > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 25px 0 25px 0;
}
#LayoutGrid1 > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 16.66666667%;
   max-width: 16.66666667%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-end;
   align-self: stretch;
   align-items: flex-end;
   justify-content: center;
   text-align: center;
}
#LayoutGrid1 > .col-2 > .col-2-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 25px 0 25px 0;
}
#LayoutGrid1 > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 41.66666667%;
   max-width: 41.66666667%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-end;
   align-self: stretch;
   align-items: flex-end;
   justify-content: center;
   text-align: center;
}
#LayoutGrid1 > .col-3 > .col-3-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 25px 0 25px 0;
}
@media (max-width: 480px)
{
#LayoutGrid1 > .col-1, #LayoutGrid1 > .col-2, #LayoutGrid1 > .col-3
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_LayoutGrid3
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid3
{
   box-sizing: border-box;
   padding: 40px 15px 40px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1170px;
}
#LayoutGrid3 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid3 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid3 > .row > .col-1
{
   float: left;
}
#LayoutGrid3 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#LayoutGrid3 > .row > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 0 25px 0 25px;
}
#LayoutGrid3:before,
#LayoutGrid3:after,
#LayoutGrid3 .row:before,
#LayoutGrid3 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid3:after,
#LayoutGrid3 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid3 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_LayoutGrid7
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #5596D2;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid7
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 25px 0 25px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
}
#LayoutGrid7 > .col-1, #LayoutGrid7 > .col-2, #LayoutGrid7 > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid7 > .col-1, #LayoutGrid7 > .col-2, #LayoutGrid7 > .col-3
{
   flex: 0 0 auto;
}
#LayoutGrid7 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 25%;
   max-width: 25%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-end;
   align-self: stretch;
   align-items: flex-end;
   justify-content: center;
   text-align: center;
}
#LayoutGrid7 > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 25px 0 25px 0;
}
#LayoutGrid7 > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 50%;
   max-width: 50%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-end;
   align-self: stretch;
   align-items: flex-end;
   justify-content: center;
   text-align: center;
}
#LayoutGrid7 > .col-2 > .col-2-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 25px 0 25px 0;
}
#LayoutGrid7 > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 25%;
   max-width: 25%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-end;
   align-self: stretch;
   align-items: flex-end;
   justify-content: center;
   text-align: center;
}
#LayoutGrid7 > .col-3 > .col-3-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 25px 0 25px 0;
}
@media (max-width: 480px)
{
#LayoutGrid7 > .col-1, #LayoutGrid7 > .col-2, #LayoutGrid7 > .col-3
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#Line5
{
   border-color: #5596D2;
   border-style: solid;
   border-bottom-width: 50px;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   height: 0 !important;
   line-height: 0 !important;
   margin: 0;
   padding: 0;
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0 0 25px 0 ;
   padding: 0;
   text-align: center;
}
#Heading1
{
   color: #000000;
   font-family: "Gochi Hand";
   font-weight: bold;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: center;
   text-transform: none;
}
#Button1
{
   border: 1px solid #C5C5C5;
   border-radius: 4px;
   background-color: #87CEFA;
   background-image: none;
   color: #454545;
   font-family: "Gochi Hand";
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button1:focus
{
   outline: 0;
}
#Button1:hover
{
   background-color: #FFFFFF;
   transition: background-color 500ms linear 0ms;
}
#PhotoGallery1
{
   box-sizing: border-box;
   font-size: 0;
   width: 100%;
   height: 100%;
   table-layout: fixed;
   display: table;
   margin: 0;
}
#PhotoGallery1 .thumbnails
{
   margin: 0;
}
#PhotoGallery1 .thumbnail
{
   position: relative;
   min-height: 1px;
   box-sizing: border-box;
   float: left;
   padding: 3px 3px 3px 3px;
   width: 33.33333333%;
   text-align: center;
   vertical-align: top;
}
#PhotoGallery1 .thumbnail img
{
   border: 0px solid #000000;
   display: block;
   width: 100%;
   height: auto;
   max-width: 100%;
   box-sizing: border-box;
   border-radius: 0px;
}
#PhotoGallery1 .thumbnails:before,
#PhotoGallery1 .thumbnails:after
{
   display: table;
   content: " ";
}
#PhotoGallery1 .thumbnails:after
{
   clear: both;
}
#PhotoGallery1 .thumbnails .thumbnail:nth-child(3n+1)
{
   clear: both;
}
#Button2
{
   border: 1px solid #C5C5C5;
   border-radius: 4px;
   background-color: #87CEFA;
   background-image: none;
   color: #454545;
   font-family: "Gochi Hand";
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
   animation: animate-fire-text-shadow 1000ms linear 0ms infinite normal both;
}
#Button2:focus
{
   outline: 0;
}
#Button2:hover
{
   background-color: #FFFFFF;
   transition: background-color 500ms linear 0ms;
}
#wb_Image1
{
   margin: 0;
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 480px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image2
{
   margin: 0;
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 491px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#HorizontalLine1
{
   border-color: #5596D2;
   border-style: solid;
   border-bottom-width: 50px;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   height: 0 !important;
   line-height: 0 !important;
   margin: 0;
   padding: 0;
}
#SlideShow1 .image
{
   border-width: 0;
   border-radius: inherit;
   display: block;
   float: left;
   height: auto;
   width: 100%;
}
#SlideShow1 li
{
   border-radius: inherit;
   position: absolute;
   width: 100%;
   left: 0;
   top: 0;
}
#SlideShow1
{
   display: inline-block;
   position: relative;
   list-style: none;
   width: 100%;
   padding: 0;
   margin: 0;
}
#SlideShow1
{
   border: 0px solid #DDDDDD;
   border-radius: 0px;
   box-sizing: border-box;
}
#wb_Image3
{
   margin: 0;
   vertical-align: top;
}
#Image3
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 480px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image4
{
   margin: 0;
   vertical-align: top;
}
#Image4
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 439px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image6
{
   margin: 0;
   vertical-align: top;
}
#Image6
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 320px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#SlideShow2
{
   margin: 0;
   margin-left: auto !important;
   margin-right: auto !important;
   max-width: 1920px;
}
.lSSlideOuter .lSPager.lSGallery li, .lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li:hover
{
   border-radius: 0px;
}
#SlideShow2 img
{
   object-fit: cover;
   width: 100%;
}
#SlideShow2 .lSGallery
{
   display: inline-flex;
}
#SlideShow2
{
   border: 0px solid #DDDDDD;
   border-radius: 0px;
}
